
*{
    margin: 0;
    padding: 0;
}

.nav {
    height: 90px;
    background-color: #212025;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

ul {
    display: flex;
}
ul li {
    list-style: none;
}
ul li a {
    margin: 10px 22px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

ul li a:hover {
    color: #10BF6B;
}

.clr {
    color: #fff;
}

.in-form  input {
    width: 250px;
    background-color: #333237;
    height: 30px;
    border:none;
}

.in-form {
    background-color: #333237;
    margin-right: 20px;
    padding-right: 15px;
    border-radius: 5px;
}